@font-face {
	font-family: 'HeroFont';
	src: url('../hero-2/HeroLight-Bold.otf') format('opentype'),
	     url('../hero-2/HeroLight-Light.otf') format('opentype'),
	     url('../hero-2/HeroLight-Regular.otf') format('opentype');
	font-weight: normal;
	font-style: normal;
  }
body{
	margin: 0;
	padding: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
	font-family: 'HeroFont', sans-serif;
	background: linear-gradient(to bottom,#141414 ,#141414 ,#141414, #141414);
	flex-direction: column;
}


  
  .wrapper {
	flex: 1;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
  }
  
  .footer {
	width: 100%;
	
	opacity: 1;
	height: 30px;
	text-align: center;
	padding-top: 5px;
	margin-top: auto; /* Pushes the footer to the bottom */
	color: #eee;
}
.main{
	width: 450px;
	height: 600px;
	background: #33d1ca;
	background-image: url(logo-blue-background.png);
	background-repeat: no-repeat;
	background-size:15%;
	background-position: top;
	overflow: hidden;
	border-radius: 10px;
	box-shadow: 5px 20px 90px #9eee;
}
#chk{
	display: none;
}
.signup{
	position: relative;
	width:100%;
	height: 100%;
	font-size: 1em;
}

.signup input{
	border: 2px solid #eee;
	box-shadow: 0 0 10px #eee;
}
label{
	color: #fff;
	font-size: 2.3em;
	justify-content: center;
	display: flex;
	margin: 50px;
	font-weight: bold;
	cursor: pointer;
	transition: .5s ease-in-out;
}
input{
	width: 59%;
	height: 11px;
	background: #e0dede;
	justify-content: center;
	display: flex;
	margin: 20px auto;
	padding: 12px;
	border: none;
	outline: none;
	border-radius: 8px;

}
button{
	width: 60%;
	height: 40px;
	margin: 10px auto;
	justify-content: center;
	display: block;
	color: #33d1ca;
	background: #eee;
	font-size: 1.2em;
	font-weight: bold;
	margin-top: 30px;
	outline: none;
	border: none;
	border-radius: 5px;
	transition: .2s ease-in;
	cursor: pointer;
}
button:hover{
	background: #eee;
	outline: 3px solid #eee;
    	outline-offset: 4px ;
}
.login{
	height: 460px;
	background: #eee;
	border-radius: 100% / 20%;
	transform: translateY(-180px);
	transition: .9s ease-in-out;
}
.login input{
	border: 1px solid #33d1ca;
	box-shadow: 0 0 10px #33d1ca;
}

.login button{
	background-color: #33d1ca;
	color: #eee;

}

.login button:hover{
	background: #33d1ca;
	outline: 3px solid #33d1ca;
    	outline-offset: 4px;
}
.login label{
	color: #33d1ca;
	transform: scale(.6);
	font-size: 40px;
}

#forgetPass{
	color: #33d1ca;
	font-size: 1em;
	text-align: center;
	margin-left: 160px;
	text-decoration: none;
	cursor: pointer;
}

#help{
	color: #eee;
	font-size: 1em;
	text-align: center;
	margin-left: 183px;
	text-decoration: none;
	cursor: pointer;
}
#help:hover{
	text-shadow: 0 0 5px #eee, 0 0 10px #eee, 0 0 15px #eee, 0 0 20px #eee, 0 0 25px #eee, 0 0 30px #eee, 0 0 35px #eee;
}


#chk:checked ~ .login{
	transform: translateY(-590px);
}
#chk:checked ~ .login label{
	transform: scale(1.1);	
}
#chk:checked ~ .signup label{
	transform: scale(.9);
	
}
#chk:checked ~ .signup label:hover {
	text-shadow: 0 0 5px #eee, 0 0 10px #eee, 0 0 15px #eee, 0 0 20px #eee, 0 0 25px #eee, 0 0 30px #eee, 0 0 35px #eee;
  }



