@font-face {
    font-family: 'HeroFont';
    src: url('hero-2/HeroLight-Bold.otf') format('opentype'),
        url('hero-2/HeroLight-Light.otf') format('opentype'),
        url('hero-2/HeroLight-Regular.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

body{
    font-family: 'HeroFont', sans-serif;
}

.div1 {
    width: 100%;
}

.headerDiv {
    width: 100%;
    height: 70px;
    border-spacing: 0;
    background-color: rgb(20, 20, 20);
}

.optionsDiv {
    float: inline-end;
    width: 70%;
    height: 40px;
    padding-top: 25px;
    padding-left: 30px;
    color: white;
}

.options {
    color: white;
    font-size: 20px;
    text-decoration: none;
    padding: 20px;
    transition-duration: .5s;
}

.options:hover {
    background-color: rgba(51, 209, 202, 255);
    border-radius: 10px;
}

.sign {
    color: white;
    font-size: 20px;
    text-decoration: none;
    padding: 20px;
    background-color: rgba(51, 209, 202, 255);
    border-radius: 15px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-top: 5px;
    padding-top: 5px;
    transition-duration: .5s;
}

.sign:hover {
    background-color: #141414;
}

.logoDiv {
    float: left;
    width: 150px;
    height: 60px;
    margin-left: 40px;
}

.interfaceImageDiv {
    width: 100%;
    height: 700px;
    border: 2px solid rgb(20, 20, 20);
    border-spacing: 0;
    background-color: #32373c;
    background-image: url(images/imageMovies/squid.jpg);
    background-repeat: no-repeat;
    background-size: 100% 700px;
    background-attachment: scroll;
}

.inImageDiv {
    width: 500px;
    height: 200px;
    border-spacing: 0;
    margin-top: 350px;
    margin-left: 550px;
    background-color: rgb(20, 20, 20, 0.9);
    border-radius: 15px;
    padding-top: 10px;
}

.inImage {
    text-align: center;
    color: white;
    font-variant-caps: all-petite-caps;
    padding-bottom: 0;
    margin: 0;
}

.inImageSpan {
    color: rgba(51, 209, 202, 255);
    font-size: 80px;
    margin-left: 135px;
    text-transform: lowercase;
    font-weight: bold;
    padding-top: 0;
    margin-top: 0;
}

.inImagesign {
    color: white;
    font-size: 20px;
    text-decoration: none;
    padding: 20px;
    background-color: rgba(51, 209, 202, 255);
    border-radius: 15px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-top: 5px;
    padding-top: 5px;
    margin-left: 180px;
    transition-duration: .5s;
}

.inImagesign:hover {
    background-color: #141414;
}

.bodyDiv {
    width: 100%;
    height: 70px;
    border-spacing: 0;
    background-color: rgb(20, 20, 20);
    text-indent: 50px;
    text-align: center;
    padding-top: 25px;
}

.select {
    text-transform: capitalize;
    font-size: 15px;
    background-color: #32373c;
    border-radius: 15px;
    color: white;
    border: none;
    font-weight: bold;
    padding-left: 170px;
    padding-top: 10px;
    padding-bottom: 10px;
    border: 3px solid white;
}

.emptyDiv {
    width: 100%;
    height: 70px;
    border-spacing: 0;
    background-color: #282a2d;
    text-indent: 50px;
    border: 1px solid #141414;
}

.h3 {
    color: rgba(51, 209, 202, 255);
    font-variant-caps: all-petite-caps;
    font-size: 25px;
}

.interfaceImageDiv2 {
    width: 100%;
    height: 1100px;
    border: 2px solid rgb(20, 20, 20);
    border-spacing: 0;
    background-color: #32373c;
    background-image: url(images/almashi.jpg);
    background-repeat: no-repeat;
    background-size: 100% 1100px;
    background-attachment: scroll;
}

.inImageDiv2 {
    width: 500px;
    height: 230px;
    border-spacing: 0;
    margin-top: 560px;
    margin-left: 50px;
    background-color: rgb(20, 20, 20, 0.5);
    border-radius: 15px;
    padding-top: 10px;
}

.inImage2 {
    color: white;
    font-variant-caps: all-petite-caps;
    text-indent: 150px;
    margin-bottom: 0;
    padding-bottom: 0;
}

.inImageSpan2 {
    color: rgba(51, 209, 202, 255);
    font-size: 80px;
    margin-left: 150px;
    font-variant-caps: all-petite-caps;
    padding: 0;
    margin-top: 0;
}

.inImagesign2 {
    color: white;
    font-size: 20px;
    text-decoration: none;
    padding: 20px;
    background-color: rgba(51, 209, 202, 255);
    border-radius: 15px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-top: 5px;
    padding-top: 5px;
    margin-left: 180px;
    transition-duration: .5s;
}

.inImagesign2:hover {
    background-color: #141414;
}

.movieOptionsDiv {
    width: 1050px;
    float: right;
    height: 70px;
    text-align: center;
}

.movieOptions {
    color: white;
    font-size: 10px;
    text-decoration: none;
    background-color: rgba(51, 209, 202, 255);
    border-radius: 15px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-right: 20px;
    padding-left: 20px;
    text-transform: capitalize;
    transition-duration: .5s;
    margin-right: 10px;
    margin-left: 10px;
}

.movieOptions:hover {
    background-color: #141414;
}

.filmsDiv {
    width: 100%;
    height: 550px;
    border-spacing: 0;
    background-color: rgb(20, 20, 20);
    padding-top: 50px;
}

.moveDiv {
    width: 1380px;
    height: 520px;
    margin-left: 100px;
}

.imagesDiv {
    width: 265px;
    height: 520px;
    border-spacing: 0;
    background-color: rgb(20, 20, 20);
    float: left;
    padding: 5px;
    text-align: center;
}

.p {
    font-size: 20px;
    text-decoration: none;
    background-color: #282a2d;
    color: white;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 15px;
    padding-right: 15px;
    border-radius: 15px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    transition-duration: 0.5s;
}

.p:hover {
    background-color: #33d1ca;
}

.reduis {
    border-radius: 15px;
    transition-duration: .5s;
}

.reduis:hover {
    transform: scale(1.1);
    background-color: #282a2d;
}

.filmsDiv2 {
    width: 100%;
    height: 1100px;
    border-spacing: 0;
    background-color: rgb(20, 20, 20);
    padding-top: 50px;
}

.moveDiv2 {
    width: 1300px;
    height: 1000px;
    margin-left: 100px;
}

.imagesDiv2 {
    width: 250px;
    height: 330px;
    border-spacing: 0;
    background-color: rgb(20, 20, 20);
    float: left;
    padding: 5px;
}

.reduis2 {
    border-radius: 15px;
    transition-duration: .5s;
    width: 250px;
}

.reduis2:hover {
    padding: 10px;
    background-color: #282a2d;

}

.emptyDiv2 {
    padding-top: 150px;
    padding: 5px;
    width: 89%;
    height: 200px;
    border-spacing: 0;
    background-color: #141414;
    padding-left: 150px;
    border: 7px solid #141414
}

.lastDiv {
    width: 350px;
    height: 200px;
    color: rgba(51, 209, 202, 255);
    float: left;
    padding-left: 10px;
}

.a {
    padding-left: 10px;
    color: rgba(51, 209, 202, 255);
    text-decoration: none;
    font-weight: bold;
    transition-duration: .5s;
}

.a:hover {
    background-color: #282a2d;
}

.submit {
    background-color: #141414;
    color: #33d1ca;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 7px;
    padding-bottom: 7px;
    border-radius: 10px;
    transition-duration: .5s;
}

.submit:hover {
    background-color: #282a2d;
}

/*
rgb(20,20,20) اسود اسود
rgba(51,209,202,255) تيفاني
#282a2d اسود رمادي
*/